#!/bin/sh

# @make_drivers template — used internally by setup.sh to generate @make_drivers

SWIFT_DIR="__SWIFT_DIR__"
FORTRAN="__FORTRAN__"
FFLAGS="__FFLAGS__"

for file in *.f; do
  file2=$(echo "$file" | awk -F"." '{print$1}')
  echo "$file2"
  $FORTRAN $FFLAGS -o "$file2" "$file" -L"$SWIFT_DIR" -lswift
done
